:root {
    --header-background: transparent;
    --header-blur-background: transparent;
    --dialog-border-width: var(--line-size);
}

.paper-icon-button-light:focus {
    background: hsla(var(--focus-background-hue), var(--focus-background-saturation), var(--focus-background-lightness), .9);
    --theme-text-color-lightness: var(--focus-text-color-lightness);
    color: hsla(var(--theme-text-color-hue), var(--theme-text-color-saturation), var(--theme-text-color-lightness), var(--theme-text-color-alpha));
}

.emby-select:focus {
    border-color: hsla(var(--focus-background-hue), var(--focus-background-saturation), var(--focus-background-lightness), .9) !important;
    background: hsla(var(--focus-background-hue), var(--focus-background-saturation), var(--focus-background-lightness), .9) !important;
    --theme-text-color-lightness: var(--focus-text-color-lightness) !important;
    --theme-text-color-alpha: 1 !important;
    color: hsla(var(--theme-text-color-hue), var(--theme-text-color-saturation), var(--theme-text-color-lightness), var(--theme-text-color-alpha));
}

    .emby-select:focus ~ .emby-select-selectedNameContainer, .emby-select:focus ~ .selectArrowContainer {
        --theme-text-color-lightness: var(--focus-text-color-lightness) !important;
        --theme-text-color-alpha: 1 !important;
        color: hsla(var(--theme-text-color-hue), var(--theme-text-color-saturation), var(--theme-text-color-lightness), var(--theme-text-color-alpha));
    }

.emby-input:focus, .emby-textarea:focus {
    box-shadow: 0 0 0 .2rem hsla(var(--focus-background-hue), var(--focus-background-saturation), var(--focus-background-lightness), 0.9);
    border-color: transparent;
}

.emby-toggle-label.emby-toggle-label-focus {
    box-shadow: 0 0 0 .2rem hsla(var(--focus-background-hue), var(--focus-background-saturation), var(--focus-background-lightness), 0.9);
}

.emby-button:focus {
    background: hsla(var(--focus-background-hue), var(--focus-background-saturation), var(--focus-background-lightness), .9);
    --theme-text-color-lightness: var(--focus-text-color-lightness);
    --theme-text-color-alpha: 1;
    color: hsla(var(--theme-text-color-hue), var(--theme-text-color-saturation), var(--theme-text-color-lightness), var(--theme-text-color-alpha));
    box-shadow: 0 .25em 0.4375em rgba(0,0,0,.25);
}

.button-link.emby-button:focus {
    background: none;
    box-shadow: none;
}

.button-link.emby-button:focus::before {
    background: hsla(var(--focus-background-hue), var(--focus-background-saturation), var(--focus-background-lightness), .9);
}

.epgRow:focus-within .epgCellInner {
    --theme-text-color-alpha: 1;
    color: hsla(var(--theme-text-color-hue), var(--theme-text-color-saturation), var(--theme-text-color-lightness), var(--theme-text-color-alpha));
    background: hsla(var(--background-hue), var(--background-saturation), calc(var(--background-lightness) + 60%), .5);
}

.channelCell:focus > .channelCellInner, .programCell:focus > .programCellInner {
    background-color: hsl(var(--focus-background-hue), var(--focus-background-saturation), var(--focus-background-lightness));
    --theme-text-color-lightness: var(--focus-text-color-lightness);
    --theme-text-color-alpha: 1;
    color: hsla(var(--theme-text-color-hue), var(--theme-text-color-saturation), var(--theme-text-color-lightness), var(--theme-text-color-alpha));
}

.chkLockedField.emby-checkbox:focus {
    box-shadow: 0 0 0 .12em hsl(var(--theme-primary-color-hue), var(--theme-primary-color-saturation), var(--theme-primary-color-lightness));
}