.emby-multilineselect-focusscale:focus {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
    z-index: 1;
}

.emby-multilineselect-inline {
    width: auto;
    padding-right: .5em;
}

.emby-multilineselect-inline.emby-multilineselect + .selectArrowContainer {
    display: none;
}