.tvguide {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: initial;
    align-items: initial;
    box-sizing: border-box;
    overflow: hidden;
}

.epgVirtualScrollerScrollContainer-both {
    overflow: scroll;
}

.guide-headerTimeslots {
    display: -webkit-flex;
    display: flex;
    z-index: 1;
}

.tvProgram {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    position: relative;
}

.guideProgramIndicator {
    font-size: 84%;
    line-height: inherit;
    padding: 0 0.5em;
}

.guide-channelTimeslotHeader {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-justify-content: center;
    justify-content: center;
    border-inline-end-color: transparent;
}

.timeslotHeaders {
    white-space: nowrap;
    position: relative;
    -webkit-align-items: center;
    align-items: center;
}

.channelPrograms {
    -webkit-flex-direction: row;
    flex-direction: row;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    position: relative;
    contain: strict;
}

.timeslotHeader {
    text-indent: .08em;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    border-width: 0 0 0 .46em;
    border-style: solid;
    border-color: transparent;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.epgRow {
    width: 100%;
    height: 4.8em;
    padding: .23em 0;
    box-sizing: border-box;
}

.channelCell, .guide-channelTimeslotHeader {
    padding: 0 !important;
    outline: none !important;
    width: 100%;
    vertical-align: middle;
    font-family: inherit;
    font-size: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-decoration: none;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    color: inherit;
    box-sizing: border-box;
}

.channelCell {
    padding: 0 !important;
    margin: 0 !important;
    width: 18ch;
    width: min(18ch, 23vw);
    left: 0;
    inset-inline-start: 0;
    inset-inline-end: initial;
    z-index: 1;
    position: relative;
    background: none;
    border-width: 0;
    /* dont use strict or it will cause the guide settings button to be hidden */
    contain: layout style paint;
    font-weight: normal;
    line-height: inherit;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.channelCell-wide {
    width: 20ch;
    width: min(20ch, 23vw);
}

.channelCell-wide2 {
    width: 26ch;
    width: min(26ch, 23vw);
}

button.channelCell {
    cursor: pointer;
}

.guideEpg-currentTimeIndicatorDot {
    -webkit-margin-start: min(18ch, 23vw);
    margin-inline-start: min(18ch, 23vw);
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    border-style: solid;
    border-width: 0 .2em 0 0;
    border-inline-start-width: 0;
    border-inline-end-width: .2em;
    contain: strict;
}

.guideEpg-currentTimeIndicatorDot-wide {
    -webkit-margin-start: 22ch;
    margin-inline-start: 22ch;
    -webkit-margin-start: min(22ch, 23vw);
    margin-inline-start: min(22ch, 23vw);
}

.guideEpg-currentTimeIndicatorDot-wide2 {
    -webkit-margin-start: 26ch;
    margin-inline-start: 26ch;
    -webkit-margin-start: min(26ch, 23vw);
    margin-inline-start: min(26ch, 23vw);
}

.guideHeader-currentTimeIndicatorDot {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    border-style: solid;
    border-width: 0 .2em 0 0;
    border-inline-start-width: 0;
    border-inline-end-width: .2em;
    border-color: transparent !important;
    contain: layout size;
}

    .guideHeader-currentTimeIndicatorDot::before {
        content: "";
        border-color: currentcolor transparent transparent transparent;
        border-style: solid;
        border-width: .5em;
        pointer-events: none;
        position: absolute;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        bottom: -1em;
        left: .1em;
        inset-inline-start: .1em;
        inset-inline-end: initial;
    }

.channelCellInner {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    contain: strict;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
    padding: 0 1em !important;
}

.channelCellInner, .firstChannelCell, .programCellInner {
    border-radius: .42em;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .channelCell {
        position: -webkit-sticky;
        position: sticky;
    }
}

.firstChannelCell {
    -webkit-justify-content: center;
    justify-content: center;
    height: 2.3em;
    -webkit-flex-direction: row;
    flex-direction: row;
    padding: 0 .25em !important;
    border-color: transparent !important;
}

.btnGuideViewSettings {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-flex-grow: 0;
    flex-grow: 0;
}

.btnGuideViewSettingsIcon {
    font-size: 1.5em !important;
}

.guideIconButton {
    /* prevent it from enlarging the line vertically */
    padding: .3em;
}

.selectDateIcon {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}

.programCell {
    color: inherit;
    background: none;
    border-style: solid;
    border-width: 0 0 0 .46em;
    border-inline-start-width: .46em;
    border-inline-end-width: 0;
    border-color: transparent;
    padding: 0 !important;
    cursor: pointer;
    outline: none !important;
    width: 100%;
    vertical-align: middle;
    font-family: inherit;
    font-size: inherit;
    position: absolute;
    top: 0;
    bottom: 0;
    display: -webkit-flex;
    display: flex;
    text-decoration: none;
    overflow: hidden;
    -webkit-align-items: center;
    align-items: center;
    /* Needed for Firefox */
    text-align: start;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    margin: 0 !important;
    contain: strict;
    box-sizing: border-box;
    font-weight: normal;
    line-height: inherit;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.programCellInner {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-content: center;
    align-content: center;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    contain: strict;
    /* This absolute positioning is needed for older lg/tizen, otherwise they will not fill the full height of the row */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    box-sizing: border-box;
    padding: 0 1em;
}

.programMediaInfoItems {
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-items: center !important;
    align-items: center !important;
}

.guideProgramNameCaretIcon {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    font-size: 200%;
    contain: style layout paint;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-margin-start: -.25em;
    margin-inline-start: -.25em;
    -webkit-margin-end: -.25em;
    margin-inline-end: -.25em;
}

.guideProgramNameText {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    contain: style layout paint;
    white-space: nowrap;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
}

.guideProgramSecondaryInfo {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 92%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
}

.programIcon {
    height: 1em;
    width: 1em;
    font-size: 1.6em;
    color: #ddd;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-flex-grow: 0;
    flex-grow: 0;
}

.guide-programTextIcon {
    color: #fff;
}

.guideChannelImage {
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    contain: strict;
    height: 66%;
    /* simulate the .6em padding on top and bottom from other layouts */
    height: calc(100% - 1.4em);
    -webkit-margin-start: 0;
    margin-inline-start: 0;
    -webkit-margin-end: 0;
    margin-inline-end: 0;
    -webkit-flex-grow: initial;
    flex-grow: initial;
    background-position: right center;
}

.guideChannelImage-rtl {
    background-position: left center;
}

.guideChannelImage-withtext {
    max-width: 50%;
    -webkit-margin-start: auto;
    margin-inline-start: auto;
}

.guideChannelText {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    margin: 0;
    text-align: start;
    white-space: nowrap;
    /* don't do flex-shrink:0 here because it may cause overflow if the text is long */
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.guideChannelImage + .guideChannelText {
    font-size: inherit;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-margin-end: 1em;
    margin-inline-end: 1em;
}

.guideChannelName {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.guideChannelNumber + .guideChannelName {
    -webkit-margin-start: 1ch;
    margin-inline-start: 1ch;
}

.epgCurrentProgramProgress {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    height: .16em;
}
