.channelCellInner-twoline {
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: .6em 1em .4em !important;
}

.channelCellInner-notext {
    padding: .7em 1em !important;
}

.guideChannelImage-twoline {
    background-position: center center;
    height: auto;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    max-width: initial;
    -webkit-margin-start: 0;
    margin-inline-start: 0;
}

.channelCellInner-twoline .guideChannelText {
    margin: 0 !important;
    -webkit-flex-grow: initial !important;
    flex-grow: initial !important;
    max-width: initial;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}

.guideChannelImage-twoline + .guideChannelText {
    font-size: 82%;
    margin: .6em 0 0 !important;
}

/* End two-line styles. */

.programCell, .channelCell {
    outline: none !important;
}

.timerIcon, .seriesTimerIcon {
    color: #cc3333 !important;
}

.seriesTimerIcon-inactive {
    color: inherit !important;
    opacity: .7;
}

.guideOptions {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.guideRequiresUnlock {
    margin: 1em auto;
    text-align: center;
    padding: 1em;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}

@supports selector(:hover) and (display: revert) and (column-gap: 1em) {
    .programMediaInfoItems {
        -webkit-column-gap: .8ch;
        column-gap: .8ch;
    }
}

.guide-filter-button {
    padding-top: .3em;
    padding-bottom: .3em;
    margin: 0 .25em;
}

.guide-filters-active-icon {
    font-size: 110%;
}