@media all and (orientation: portrait) {
    .channelCell {
        width: 11.3ch;
    }

    .guideEpg-currentTimeIndicatorDot {
        -webkit-margin-start: 11.3ch;
        margin-inline-start: 11.3ch;
    }

    .epgRow-portraittwoline {
        height: 5.2em;
    }

    .channelCellInner {
        -webkit-flex-direction: column;
        flex-direction: column;
        padding: .6em 1em .4em !important;
    }

    .guideChannelImage {
        background-position: center center;
        height: auto;
        -webkit-flex-grow: 1;
        flex-grow: 1;
        max-width: initial;
    }

    .guideChannelText {
        margin: 0 !important;
        -webkit-flex-grow: initial !important;
        flex-grow: initial !important;
        max-width: initial;
        -webkit-flex-shrink: 0;
        flex-shrink: 0;
    }

    .guideChannelImage + .guideChannelText {
        font-size: 82%;
        margin: .6em 0 0 !important;
    }

    .btnSelectDate {
        font-size: 88%;
    }
}

/* Begin two-line styles. Same as portrait above. */
.epgRow-twoline {
    height: 5.2em;
}

.btnLiveGuide {
    position: fixed;
    top: 50%;
    right: 3.5em;
    inset-inline-start: initial;
    inset-inline-end: 3.5em;
    z-index: 99999999999999;
    color: rgb(204, 0, 0) !important;
    font-weight: bold;
    border-radius: 100em;
    font-size: 78%;
    padding: 0;
    background: #fff !important;
    box-shadow: 0 .18em .36em 0 rgb(0 0 0 / 16%);
    margin-top: -2.26em !important;
    margin-bottom: 0 !important;
    -webkit-margin-start: 0 !important;
    margin-inline-start: 0 !important;
    -webkit-margin-end: 0 !important;
    margin-inline-end: 0 !important;
    width: 4.52em;
    height: 4.52em;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    overflow: hidden;
}

@media not all and (pointer: fine) {
    .btnLiveGuide {
        inset-inline-start: initial;
        inset-inline-end: 2em;
    }
}

.btnLiveGuideText {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 100%;
    transition: background 200ms ease-out;
    text-transform: uppercase;
}

.btnLiveGuide:active > .btnLiveGuideText {
    background: rgba(204, 51, 51, 0.2);
}

@media not all and (min-height: 38em) {
    .btnLiveGuide {
        display: none !important;
    }
}

.tvguide .emby-scrollbuttons {
    font-size: inherit;
}

.tvguide .scrollbuttoncontainer {
    position: fixed !important;
    background: transparent !important;
    z-index: 99999999999999;
    bottom: initial;
    top: 50%;
    height: initial;
    left: initial;
    right: 3.5em;
    inset-inline-start: initial;
    inset-inline-end: 3.5em;
}

@media all and (pointer: fine) {
    .tvguide .scrollbuttoncontainer {
        right: 2.8em;
        inset-inline-start: initial;
        inset-inline-end: 2.8em;
        display: -webkit-flex;
        display: flex;
    }
}

.tvguide .scrollbuttoncontainer-backwards {
    margin-top: -6em;
}

.tvguide .scrollbuttoncontainer-forwards {
    margin-top: 2.5em;
}

.tvguide .emby-scrollbuttons-scrollbutton {
    color: #000 !important;
    font-weight: bold;
    border-radius: 100em;
    font-size: 140%;
    padding: 0;
    background: #fff;
    box-shadow: 0 0.18em 0.36em 0 rgb(0 0 0 / 16%);
    width: 2.518em;
    height: 2.518em;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    overflow: hidden;
    -webkit-transform: none !important;
    transform: none !important;
    margin: 0 !important;
}