.alphaPicker-fixed {
    /* there is no bottom appfooter content */
    bottom: 1.5em;
    bottom: calc(1.5em + env(safe-area-inset-bottom, 0));
}

.alphaPickerRow-vertical {
    font-size: clamp(80%, 1rem, 88%);
}

.alphaPickerButton-vertical {
    width: 3.2ch;
    min-height: initial;
    max-height: initial;
    padding: 0;
}

.alphaPicker-fixed-left {
    left: 1.2ch;
    inset-inline-start: 1.2ch;
    inset-inline-end: initial;
}

.alphaPicker-fixed-right {
    right: 1.2ch;
    inset-inline-start: initial;
    inset-inline-end: 1.2ch;
}
