@media all and (pointer: fine) {
    .alphaPickerButton-vertical {
        padding: 0;
    }
}

@media all and (pointer: fine) {
    .alphaPickerRow-vertical {
        font-size: clamp(80%, 1rem, 88%);
    }
}

.alphaPicker-fixed-left {
    left: 0;
    inset-inline-start: 0;
    inset-inline-end: initial;
}

.alphaPicker-fixed-right {
    right: 0;
    inset-inline-start: initial;
    inset-inline-end: 0;
}

@media all and (min-width: 50em) {

    .alphaPicker-fixed-right {
        right: .5ch;
        inset-inline-start: initial;
        inset-inline-end: .5ch;
    }
}

@media all and (pointer: fine) {
    .alphaPicker-fixed-right {
        right: 1.8ch;
        inset-inline-start: initial;
        inset-inline-end: 1.8ch;
    }
}

@media all and (min-width: 62.5em) {

    .alphaPickerButton-vertical {
        width: 3.8ch;
    }
}

@media all and (min-width: 80em) {

    .alphaPicker-fixed-right {
        right: 1.8ch;
        inset-inline-start: initial;
        inset-inline-end: 1.8ch;
    }
}

@media all and (min-height: 40em) {

    .alphaPickerButton-vertical {
        max-height: 1.6em;
    }
}

@media all and (min-height: 60em) {

    .alphaPickerButton-vertical {
        max-height: 1.8em;
    }
}

@media all and (min-height: 80em) {

    .alphaPickerButton-vertical {
        max-height: 2em;
    }
}

@media not all and (min-height: 29em) {

    .alphaPicker-fixed {
        display: none !important;
    }
}
