.dialogContainer {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    z-index: 999999 !important;
    contain: strict;
    overflow: hidden;
}

.dialogBackdrop-anchored {
    /* including layout will cause anchoring to not work */
    contain: style size;
}

.dialog {
    margin: 0;
    border-radius: 1em;
    border: 0;
    padding: 0;
    /* Strict does not work well with actionsheet */
    contain: style paint;
}

.dialog-draggable {
    transition: translate 300ms ease;
}

.dialog-dragging {
    transition: translate 0ms ease;
}

.dialog .padded-left {
    padding-left: min(4vw, 2.7rem);
}

.dialog .padded-right {
    padding-right: min(4vw, 2.7rem);
}

@-webkit-keyframes scaledown {
    from {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }

    to {
        opacity: .5;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes scaledown {
    from {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }

    to {
        opacity: .5;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@-webkit-keyframes scaleup {
    from {
        -webkit-transform: scale(.7);
        transform: scale(.7);
        opacity: .5;
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@keyframes scaleup {
    from {
        -webkit-transform: scale(.7);
        transform: scale(.7);
        opacity: .5;
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@-webkit-keyframes scaleup2 {
    from {
        -webkit-transform: scale(.5);
        transform: scale(.5);
        opacity: 0;
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@keyframes scaleup2 {
    from {
        -webkit-transform: scale(.5);
        transform: scale(.5);
        opacity: 0;
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@-webkit-keyframes scaleupY {
    from {
        -webkit-transform: scaleY(.5);
        transform: scaleY(.5);
        opacity: 0;
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@keyframes scaleupY {
    from {
        -webkit-transform: scaleY(.5);
        transform: scaleY(.5);
        opacity: 0;
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@-webkit-keyframes scaledownY {
    from {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }

    to {
        -webkit-transform: scaleY(.5);
        transform: scaleY(.5);
        opacity: 0;
    }
}

@keyframes scaledownY {
    from {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }

    to {
        -webkit-transform: scaleY(.5);
        transform: scaleY(.5);
        opacity: 0;
    }
}

@-webkit-keyframes slideup {
    from {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        -webkit-transform: translateY(calc(50vh + 50%));
        transform: translateY(calc(50vh + 50%));
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes slideup {
    from {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        -webkit-transform: translateY(calc(50vh + 50%));
        transform: translateY(calc(50vh + 50%));
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes slidedown {
    from {
        -webkit-transform: none;
        transform: none;
    }

    to {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        -webkit-transform: translateY(calc(50vh + 50%));
        transform: translateY(calc(50vh + 50%));
    }
}

@keyframes slidedown {
    from {
        -webkit-transform: none;
        transform: none;
    }

    to {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        -webkit-transform: translateY(calc(50vh + 50%));
        transform: translateY(calc(50vh + 50%));
    }
}

@-webkit-keyframes slidedownfade {
    from {
        -webkit-transform: translateY(-3rem);
        transform: translateY(-3rem);
        opacity: 0;
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@keyframes slidedownfade {
    from {
        -webkit-transform: translateY(-3rem);
        transform: translateY(-3rem);
        opacity: 0;
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@-webkit-keyframes slideupfade {
    from {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }

    to {
        -webkit-transform: translateY(-3rem);
        transform: translateY(-3rem);
        opacity: 0;
    }
}

@keyframes slideupfade {
    from {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }

    to {
        -webkit-transform: translateY(-3rem);
        transform: translateY(-3rem);
        opacity: 0;
    }
}

.dialog-animated {
    -webkit-animation: slidedownfade 200ms ease-out normal both;
    animation: slidedownfade 200ms ease-out normal both;
}

.dialog-scrollY {
    overscroll-behavior-y: contain;
}

@media not all and (pointer: fine) {

    .dialog-fullscreen-lowres {
        -webkit-transform-origin: center top;
        transform-origin: center top;
        -webkit-animation: slideup 300ms ease-out normal both;
        animation: slideup 300ms ease-out normal both;
    }

    .dialog-close.dialog-fullscreen-lowres {
        -webkit-animation: slidedown 300ms ease-out normal both;
        animation: slidedown 300ms ease-out normal both;
    }
}

.dialog-transformorigin-top {
    -webkit-transform-origin: center top;
    transform-origin: center top;
    -webkit-animation: scaleupY 200ms ease-out normal both;
    animation: scaleupY 200ms ease-out normal both;
}

    .dialog-transformorigin-top.dialog-close {
        -webkit-animation: scaledown 200ms ease-out normal both;
        animation: scaledown 200ms ease-out normal both;
    }

.dialog-transformorigin-bottom {
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation: scaleup2 200ms ease-out normal both;
    animation: scaleup2 200ms ease-out normal both;
}

    .dialog-transformorigin-bottom.dialog-close {
        -webkit-animation: scaledown 200ms ease-out normal both;
        animation: scaledown 200ms ease-out normal both;
    }

.dialog-transformorigin-lefttop {
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-animation: scaleup2 200ms ease-out normal both;
    animation: scaleup2 200ms ease-out normal both;
}

    .dialog-transformorigin-lefttop.dialog-close {
        -webkit-animation: scaledown 200ms ease-out normal both;
        animation: scaledown 200ms ease-out normal both;
    }

.dialog-transformorigin-leftbottom {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-animation: scaleup2 200ms ease-out normal both;
    animation: scaleup2 200ms ease-out normal both;
}

    .dialog-transformorigin-leftbottom.dialog-close {
        -webkit-animation: scaledown 200ms ease-out normal both;
        animation: scaledown 200ms ease-out normal both;
    }

.dialog-transformorigin-righttop {
    -webkit-transform-origin: right top;
    transform-origin: right top;
    -webkit-animation: scaleup2 200ms ease-out normal both;
    animation: scaleup2 200ms ease-out normal both;
}

    .dialog-transformorigin-righttop.dialog-close {
        -webkit-animation: scaledown 200ms ease-out normal both;
        animation: scaledown 200ms ease-out normal both;
    }

.dialog-transformorigin-rightbottom {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-animation: scaleup2 200ms ease-out normal both;
    animation: scaleup2 200ms ease-out normal both;
}

    .dialog-transformorigin-rightbottom.dialog-close {
        -webkit-animation: scaledown 200ms ease-out normal both;
        animation: scaledown 200ms ease-out normal both;
    }

.dialog-close {
    -webkit-animation: slideupfade 200ms ease-out normal both;
    animation: slideupfade 200ms ease-out normal both;
}

    .dialog-close.dialog-transformorigin-top {
        -webkit-animation: scaledownY 200ms ease-out normal both;
        animation: scaledownY 200ms ease-out normal both;
    }
