@-webkit-keyframes scaledown-fullscreen {
    from {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }

    to {
        opacity: 0;
        -webkit-transform: scale(.3);
        transform: scale(.3);
    }
}

@keyframes scaledown-fullscreen {
    from {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }

    to {
        opacity: 0;
        -webkit-transform: scale(.3);
        transform: scale(.3);
    }
}

@-webkit-keyframes scaleup-fullscreen {
    from {
        -webkit-transform: scale(.7);
        transform: scale(.7);
        opacity: 0;
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@keyframes scaleup-fullscreen {
    from {
        -webkit-transform: scale(.7);
        transform: scale(.7);
        opacity: 0;
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

.dialog-fullscreen {
    /* Needed due to formDialog style */
    position: fixed !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    inset-inline-start: 0 !important;
    inset-inline-end: 0 !important;
    padding: env(safe-area-inset-top, 0) env(safe-area-inset-right, 0) env(safe-area-inset-bottom, 0) env(safe-area-inset-left, 0) !important;
    margin: 0 !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    max-width: none !important;
    max-height: none !important;
    -webkit-animation: scaleup-fullscreen 340ms ease-out normal both;
    animation: scaleup-fullscreen 340ms ease-out normal both;
    border: 0 !important;
}

    .dialog-fullscreen.dialog-close {
        -webkit-animation: scaledown-fullscreen 340ms ease-out normal both;
        animation: scaledown-fullscreen 340ms ease-out normal both;
    }

@media all and (min-width: 37em) and (min-height: 36em) {

    .dialog-medium {
        max-width: 80%;
        height: 80%;
    }

    .dialog-medium-tall {
        max-width: 80%;
        height: 90%;
    }

    .dialog-small {
        max-width: 60%;
        height: 80%;
    }

    .dialog-fullscreen-border {
        width: 90%;
        height: 90%;
    }

    .dialogbutton-hidenotfullscreen {
        display: none !important;
    }
}

.dialog-fullscreen-border-force {
    width: 90%;
    height: 90%;
}

.dialogBackdrop {
    overflow: hidden;
    overscroll-behavior-y: contain;
}