@media all and (pointer: fine) {
    .dialogBackdrop {
        background-color: transparent;
        transition: background-color ease-out 180ms;
    }

    .dialogBackdropOpened {
        background-color: rgba(0, 0, 0, .5);
    }

    .dialogBackdrop-nomouse {
        background-color: transparent;
        transition: none;
    }
}

@media not all and (pointer: fine) {

    .dialogBackdrop {
        background-color: transparent;
        transition: background-color ease-out 180ms;
    }

    .dialogBackdropOpened {
        background-color: rgba(0, 0, 0, .5);
    }
}