@media not all and (min-width: 37em), not all and (min-height: 36em) {
    @-webkit-keyframes slideup {
        from {
            -webkit-transform: translateY(100%);
            transform: translateY(100%);
        }

        to {
            -webkit-transform: none;
            transform: none;
        }
    }
    @keyframes slideup {
        from {
            -webkit-transform: translateY(100%);
            transform: translateY(100%);
        }

        to {
            -webkit-transform: none;
            transform: none;
        }
    }

    @-webkit-keyframes slidedown {
        from {
            -webkit-transform: none;
            transform: none;
        }

        to {
            -webkit-transform: translateY(100%);
            transform: translateY(100%);
        }
    }

    @keyframes slidedown {
        from {
            -webkit-transform: none;
            transform: none;
        }

        to {
            -webkit-transform: translateY(100%);
            transform: translateY(100%);
        }
    }

    .centeredDialog {
        position: initial !important;
        top: initial !important;
        bottom: initial !important;
        left: inherit !important;
        right: inherit !important;
        inset-inline-start: inherit !important;
        inset-inline-end: initial !important;
        position-anchor: initial !important;
    }

    .dialog-fullscreen-lowres-higherthreshold {
        position: fixed !important;
        top: 1em !important;
        top: calc(1em + env(safe-area-inset-top, 0)) !important;
        bottom: 0 !important;
        left: 0 !important;
        right: 0 !important;
        inset-inline-start: 0 !important;
        inset-inline-end: 0 !important;
        padding: 0 env(safe-area-inset-right, 0) env(safe-area-inset-bottom, 0) env(safe-area-inset-left, 0) !important;
        margin: 0 !important;
        box-shadow: none !important;
        border: 0 !important;
        border-top-left-radius: 1em !important;
        border-top-right-radius: 1em !important;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        min-width: initial !important;
        max-width: none !important;
        min-height: initial !important;
        max-height: none !important;
        height: auto !important;
        width: auto !important;
        -webkit-animation: slideup 240ms ease-out normal both;
        animation: slideup 240ms ease-out normal both;
        -webkit-transform-origin: center top;
        transform-origin: center top;
        position-anchor: initial !important;
    }

        .dialog-fullscreen-lowres-higherthreshold.dialog-fullscreen-lowres-xmargin {
            inset-inline-start: .5em !important;
            inset-inline-end: .5em !important;
            inset-inline-start: calc(env(safe-area-inset-left, 0) + .5em) !important;
            inset-inline-end: calc(env(safe-area-inset-right, 0) + .5em) !important;
            -webkit-padding-start: 0 !important;
            padding-inline-start: 0 !important;
            -webkit-padding-end: 0 !important;
            padding-inline-end: 0 !important;
            border-bottom-left-radius: 1em !important;
            border-bottom-right-radius: 1em !important;
        }

    @media all and (min-height: 30em) {

        .dialog-fullscreen-lowres-higherthreshold {
            top: calc(4em + env(safe-area-inset-top, 0)) !important;
        }
    }

    .dialog-fullscreen-lowres-higherthreshold.dialog-close {
        -webkit-animation: slidedown 240ms ease-out normal both !important;
        animation: slidedown 240ms ease-out normal both !important;
    }

    @media not all and (min-width: 26em), not all and (min-height: 36em) {

       .dialog-fullscreen-lowres {
            position: fixed !important;
            top: 1em !important;
            top: calc(1em + env(safe-area-inset-top, 0)) !important;
            bottom: 0 !important;
            left: 0 !important;
            right: 0 !important;
            inset-inline-start: 0 !important;
            inset-inline-end: 0 !important;
            padding: 0 env(safe-area-inset-right, 0) env(safe-area-inset-bottom, 0) env(safe-area-inset-left, 0) !important;
            margin: 0 !important;
            box-shadow: none !important;
            border: 0 !important;
            border-top-left-radius: 1em !important;
            border-top-right-radius: 1em !important;
            border-bottom-left-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
            min-width: initial !important;
            max-width: none !important;
            min-height: initial !important;
            max-height: none !important;
            height: auto !important;
            width: auto !important;
            -webkit-animation: slideup 240ms ease-out normal both;
            animation: slideup 240ms ease-out normal both;
            -webkit-transform-origin: center top;
            transform-origin: center top;
            position-anchor: initial !important;
        }

        .dialog-fullscreen-lowres-xmargin {
            inset-inline-start: .5em !important;
            inset-inline-end: .5em !important;
            inset-inline-start: calc(env(safe-area-inset-left, 0) + .5em) !important;
            inset-inline-end: calc(env(safe-area-inset-right, 0) + .5em) !important;
            -webkit-padding-start: 0 !important;
            padding-inline-start: 0 !important;
            -webkit-padding-end: 0 !important;
            padding-inline-end: 0 !important;
            border-bottom-left-radius: 1em !important;
            border-bottom-right-radius: 1em !important;
        }

        @media all and (min-height: 30em) {

            .dialog-fullscreen-lowres {
                top: calc(4em + env(safe-area-inset-top, 0)) !important;
            }
        }

        .dialog-fullscreen-lowres.dialog-close {
            -webkit-animation: slidedown 240ms ease-out normal both !important;
            animation: slidedown 240ms ease-out normal both !important;
        }

        .dialog-fullscreen-lowres-autoheight {
            top: initial !important;
            max-height: 72% !important;
            max-height: calc(100% - 4em - env(safe-area-inset-top, 0)) !important;
            min-height: 15em !important;
            -webkit-justify-content: flex-start !important;
            justify-content: flex-start !important;
        }
    }

    .dialog-fullscreen-lowres-higherthreshold.dialog-fullscreen-lowres-autoheight {
        top: initial !important;
        max-height: 72% !important;
        max-height: calc(100% - 4em - env(safe-area-inset-top, 0)) !important;
        min-height: 15em !important;
        -webkit-justify-content: flex-start !important;
        justify-content: flex-start !important;
    }
}
