@media all and (orientation: portrait) {
    .brightnessSliderContainer {
        display: none !important;
    }
}

@media not all and (orientation: landscape) {

    .osd-autofadesection {
        -webkit-mask-image: linear-gradient(to bottom, black 0%, black 90%, transparent 100%);
        mask-image: linear-gradient(to bottom, black 0%, black 90%, transparent 100%);
        padding-bottom: 1em;
    }
}