.verticalSection {
    /* don't use layout or size here because it will impact margins between sections */
    contain: style;
    margin-bottom: 1.5em;
}

.verticalSection-cards {
    contain: layout style;
}

.emby-scroller {
    contain: style;
}

    .emby-scroller.dataGrid-mainscroller-scrollX {
        contain: style;
    }

.verticalSection-extrabottompadding {
    margin-bottom: 2.6em;
}

/* dirty hack to detect support for column-gap in combination with flexbox, which is in Chrome 66+ and iOS 14.1+.
   support for @supports with a selector became available around the same time
*/
@supports selector(:hover) and (display: revert) and (column-gap: 1em) {
    /* 
        flex causing layout problems on older devices, so guard this
        https://emby.media/community/index.php?/topic/137104-ass-subtitles-no-longer-showing-after-updating-to-198/#findComment-1431636
    */
    .verticalSections {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        row-gap: 2em;
    }

    .verticalSections-condensed {
        row-gap: 1em;
    }

    .verticalSection {
        margin-bottom: 0;
    }

    .verticalSections-item {
        margin: 0;
    }

    .verticalSection-extrabottompadding {
        margin-bottom: .75em;
    }
}

.sectionTitleContainer {
    margin: 0 0 .75em;
    position: relative;
    contain: layout style;
}

.sectionTitle-withseeall {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.sectionTitleMoreIcon {
    font-size: 150%;
    font-weight: 500 !important;
}

.sectionTitleContainer-cards {
    margin-bottom: 0;
}

.sectionTitleContainer-wrappedlistview {
    margin-bottom: .5em;
}

.sectionTitle {
    margin-top: 0;
    margin-bottom: .5em;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.sectionTitle-cards {
    -webkit-margin-start: .25em;
    margin-inline-start: .25em;
    /* this is only for focus styles */
    -webkit-margin-end: .25em;
    margin-inline-end: .25em;
    margin-bottom: 0;
    margin-top: 0;
    /* left and right match cardbox margins */
    margin: 0 min(.74rem, max(.38rem, 1.06vw)) 0;
}

.sectionTitle-cards-horizontal {
    /* left and right match cardbox margins */
    margin: 0 min(.4rem, max(.38rem, 1.06vw)) 0;
    font-size: 1em;
}

.sectionTitleContainer > .sectionTitle {
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
    /* Necessary due to wrapping observed in ios 14.5 and macos 11.3 */
    white-space: nowrap;
}

.sectionTitleText-withseeall {
    -webkit-margin-end: .1em;
    margin-inline-end: .1em;
}

.sectionTitleButton {
    -webkit-margin-start: 1em !important;
    margin-inline-start: 1em !important;
    -webkit-margin-end: 0 !important;
    margin-inline-end: 0 !important;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}

    .sectionTitleButton + .sectionTitleButton {
        -webkit-margin-start: .5em !important;
        margin-inline-start: .5em !important;
    }

.sectionTitleIconButton {
    -webkit-margin-start: 1em !important;
    margin-inline-start: 1em !important;
    -webkit-margin-end: 0 !important;
    margin-inline-end: 0 !important;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    display: inline-block;
    vertical-align: middle;
}

.horizontalItemsContainer {
    display: -webkit-flex;
    display: flex;
}

.sectionTitleTextButton {
    margin: 0 !important;
    display: -webkit-inline-flex !important;
    display: inline-flex !important;
}

    .sectionTitleTextButton:not(.padded-left) {
        padding: 0 !important;
    }

    .sectionTitleTextButton.padded-left {
        padding-bottom: 0 !important;
        -webkit-padding-end: 0 !important;
        padding-inline-end: 0 !important;
        padding-top: 0 !important;
    }

    .sectionTitleTextButton > .sectionTitle {
        margin-bottom: 0;
        margin-top: 0;
    }

.padded-left {
    -webkit-padding-start: 3.4%;
    padding-inline-start: 3.4%;
}

.padded-left-page {
    -webkit-padding-start: calc(3.4% + env(safe-area-inset-left, 0));
    padding-inline-start: calc(3.4% + env(safe-area-inset-left, 0));
}

.padded-right {
    -webkit-padding-end: 3.4%;
    padding-inline-end: 3.4%;
}

.padded-left-withalphapicker {
    -webkit-padding-start: 4%;
    padding-inline-start: 4%;
}

    .padded-left-withalphapicker.padded-left-page {
        -webkit-padding-start: calc(4% + env(safe-area-inset-left, 0));
        padding-inline-start: calc(4% + env(safe-area-inset-left, 0));
    }

.padded-right-withalphapicker {
    -webkit-padding-end: 4%;
    padding-inline-end: 4%;
}

.padded-right-withlist.padded-right-withalphapicker {
    -webkit-padding-end: clamp(4%, 2.25em, 5%);
    padding-inline-end: clamp(4%, 2.25em, 5%);
}