@media (pointer: fine) {
    :root {
        --theme-text-color-alpha: .87;
        --dialog-border-width: var(--line-size);
        --line-background: hsla(var(--theme-text-color-hue), var(--theme-text-color-saturation), var(--theme-text-color-lightness), .14);
    }
}

@media all and (pointer: fine) {
    .raised:hover, .fab:hover {
        background: hsla(var(--button-background-hue), var(--button-background-saturation), calc(var(--button-background-lightness) + 10%), var(--button-background-alpha));
    }

    .button-hoveraccent:hover {
        background: var(--theme-accent-text-color);
    }
}

@media not all and (pointer: fine) {
    .raised:active, .fab:active {
        background: hsla(var(--button-background-hue), var(--button-background-saturation), calc(var(--button-background-lightness) + 10%), var(--button-background-alpha));
    }
}

.cardText-first {
    /* limit this to browsers supporting css variables because the polyfill has trouble with focus colors otherwise */
    --theme-text-color-alpha: 1;
    color: hsla(var(--theme-text-color-hue), var(--theme-text-color-saturation), var(--theme-text-color-lightness), var(--theme-text-color-alpha));
}