.sliderBubble-rtl {
    -webkit-transform: translate3d(50%, -100%, 0);
    transform: translate3d(50%, -100%, 0);
}

.sliderBubble {
    display: none;
}

@media not all and (pointer: fine) {
    .emby-slider-nothumb + .emby-slider-background + .emby-slider-thumb {
        display: none !important;
    }

    .emby-slider:focus-visible + .emby-slider-background {
        -webkit-transform: scale(1.01, 2.42);
        transform: scale(1.01, 2.42);
    }

    .emby-slider.emby-slider-editing + .emby-slider-background {
        -webkit-transform: scale(1.01, 2.42);
        transform: scale(1.01, 2.42);
    }

    .emby-slider[orient="vertical"]:focus-visible + .emby-slider-background {
        -webkit-transform: scale(2.42, 1.01);
        transform: scale(2.42, 1.01);
    }

    .emby-slider.emby-slider-editing[orient="vertical"] + .emby-slider-background {
        -webkit-transform: scale(2.42, 1.01);
        transform: scale(2.42, 1.01);
    }
}
