.emby-select-focusscale {
    transition: -webkit-transform 200ms ease-out !important;
    transition: transform 200ms ease-out !important;
    -webkit-transform-origin: center center;
    transform-origin: center center;
}

    .emby-select-focusscale:focus {
        -webkit-transform: scale(1.025);
        transform: scale(1.025);
        z-index: 1;
    }

.emby-select-inline.emby-select-focusscale:focus {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
}
