.emby-select {
    display: block;
    margin: 0;
    margin-bottom: 0 !important;
    /* Remove select styling */
    font-size: inherit;
    /* General select styles: change as needed */
    font-family: inherit;
    font-weight: inherit;
    padding-top: 0;
    padding-bottom: 0;
    /* Prevent padding from causing width overflow */
    box-sizing: border-box;
    outline: none !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    border-radius: .3em;
    -webkit-appearance: none;
    appearance: none;
    letter-spacing: inherit;
    height: 100%;
}

.emby-select-nopointer {
    /* prevent the native menu from showing in iOS17. ideally find a better way than this. preventDefault in events no longer seems to be enough. */
    pointer-events: none;
}

.emby-select[disabled] {
    background: none !important;
    border-color: transparent !important;
    color: inherit !important;
    -webkit-appearance: none;
    appearance: none;
    -webkit-backdrop-filter: none !important;
    backdrop-filter: none !important;
    box-shadow: none !important;
    pointer-events: none;
}

.emby-select[multiple] option {
    display: none !important;
    /* this is needed to hide it in safari and probably all webkit based browsers */
    visibility: hidden !important;
}

.emby-select-inline {
    border-radius: 100em;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    line-height: normal;
}

.emby-select-inline-getitems {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.emby-select-inline[disabled] {
    -webkit-padding-start: 0;
    padding-inline-start: 0;
    -webkit-padding-end: 0;
    padding-inline-end: 0;
    border-color: transparent !important;
    /* detail screen */
    text-shadow: inherit;
}

.emby-select::-moz-focus-inner {
    border: 0;
}

.selectContainer {
    margin-bottom: 1.5em;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
}

.selectContainer-inline {
    display: -webkit-inline-flex;
    display: inline-flex;
    margin-bottom: 0;
    -webkit-align-items: center;
    align-items: center;
}

.emby-select-wrapper {
    position: relative;
    height: 3em;
}