.settingsDescriptionContainer {
    width: 52%;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}

.settingsDescriptionContent {
    padding-top: 1em;
}

.settingsDescriptionContent-logo {
    width: 20em;
    height: 20em;
    background-size: contain;
    border-width: .7em;
    border-style: solid;
    border-radius: 100em;
    padding: 1em;
}