.emby-input-hide-spin-button {
    -moz-appearance: textfield;
}

    .emby-input-hide-spin-button::-webkit-outer-spin-button,
    .emby-input-hide-spin-button::-webkit-inner-spin-button {
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
    }