.itemsContainer {
    display: -webkit-flex;
    display: flex;
}

.vertical-list {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

/*.itemsContainer-horizontalgrid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}*/

.itemsContainer-sideFooters {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 14em;
    -webkit-align-content: flex-start;
    align-content: flex-start;
}

@media (pointer: fine) and (min-width: 100em) {
    .itemsContainer-finepointerwrap {
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }

        .itemsContainer-finepointerwrap.itemsContainer-sideFooters:not(.virtualItemsContainer) {
            -webkit-flex-direction: row;
            flex-direction: row;
            height: auto;
            max-height: initial;
        }
}

/* Older tizen 2015 models are not expanding the height vertically when flex wrapping is used, thus causing everything to be on one line overlapping each other.
   This is designed to apply the fixed height to older web engines while being able to use max-height on newer ones.
*/
@supports ((display: -webkit-flex) or (display: flex)) {
    @supports (color: var(--fake-var)) {
        .itemsContainer-sideFooters {
            height: initial;
            max-height: 14em;
        }
    }
}

.itemsContainer-sideFooters.virtualItemsContainer {
    height: 14em !important;
}

.itemsContainer-smallSideFooters {
    height: 13em;
}

@supports ((display: -webkit-flex) or (display: flex)) {
    @supports (color: var(--fake-var)) {
        .itemsContainer-smallSideFooters {
            height: initial;
            max-height: 13em;
        }
    }
}

.itemsContainer-smallSideFooters.virtualItemsContainer {
    height: 13em !important;
}

.itemsContainer-smallSideFooters.vertical-wrap {
    height: initial;
    max-height: initial;
}

.vertical-wrap {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

    .vertical-wrap.centered {
        -webkit-justify-content: center;
        justify-content: center;
    }

.virtual-scroller {
    display: block;
}

/*.scrollFrameX {
    container-type: inline-size;
    container-name: itemscontainer-cards;
}

.scrollFrameX-tv {
    container-name: itemscontainer-tvcards;
}

.itemsContainer.vertical-wrap {
    container-type: inline-size;
    container-name: itemscontainer-cards;
}

.itemsContainer-tv.vertical-wrap {
    container-name: itemscontainer-tvcards;
}
*/
.itemsContainer.vertical-list {
    container-type: inline-size;
    container-name: itemscontainer-list;
}

.virtualItemsContainer.vertical-list {
    container-type: size;
}

.itemsContainer-horizontalgrid {
    height: 100%;
    container-type: size;
}

.itemsContainer-horizontalsection-horizontalgrid {
    container-type: initial;
}

.itemsContainer-horizontalgrid-withcolumns {
    display: block;
}
