@media not all and (pointer: fine) {
    :root {
        -webkit-touch-callout: none;
        /* technically not needed because autoprefixer will handle this, but it makes it easier to develop on ios */
        -webkit-user-select: none;
        user-select: none;
    }
}

@media all and (pointer: fine) {
    .hidepointerfine {
        display: none !important;
    }
}

/* Fix for android where detail screen dialogs are causing the whole screen to scroll when scrolling the dialog */
@media not all and (pointer: fine) {
    .hidetouch {
        display: none !important;
    }

    .withDialogOpen .view.scrollY:not(.dialog) {
        overflow-y: hidden !important;
        /* Have to use this instead of none, otherwise the slideshow can't zoom */
        touch-action: pinch-zoom !important;
    }
}

@media not all and (min-width: 60em) {

    .drawer-docked {
        display: none !important;
        /* transform: translateX(-100%) !important;
        content-visibility: hidden; */
    }
}

@media all and (min-width: 60em) {

    .drawer-docked {
        left: 0 !important;
        right: initial !important;
        inset-inline-start: 0% !important;
        inset-inline-end: initial !important;
        -webkit-transform: none !important;
        transform: none !important;
        box-shadow: none !important;
    }

    .page-withFullDrawer, .page-withFullDrawer .viewContent-fixed {
        left: 33.15ch;
        left: clamp(33.15ch, 30%, 45.5ch);
        right: 0;
        inset-inline-start: 33.15ch;
        inset-inline-start: clamp(33.15ch, 30%, 45.5ch);
        inset-inline-end: 0;
    }

    .skinHeader-withfulldrawer {
        -webkit-margin-start: 33.15ch;
        margin-inline-start: 33.15ch;
        -webkit-margin-start: clamp(33.15ch, 30%, 45.5ch);
        margin-inline-start: clamp(33.15ch, 30%, 45.5ch);
    }

    @media all and (pointer: fine) {

        .page-withFullDrawer, .page-withFullDrawer .viewContent-fixed {
            left: 16.5em;
            left: calc(16.5em + env(safe-area-inset-left, 0));
            right: 0;
            inset-inline-start: 16.5em;
            inset-inline-start: calc(16.5em + env(safe-area-inset-left, 0));
            inset-inline-end: 0;
        }

        .rtl.withFullDrawer:root .page, .rtl.withFullDrawer:root .viewContent-fixed {
            inset-inline-start: calc(16.5em + env(safe-area-inset-right, 0));
        }

        .skinHeader-withfulldrawer {
            -webkit-margin-start: 16.5em;
            margin-inline-start: 16.5em;
            -webkit-margin-start: calc(16.5em + env(safe-area-inset-left, 0));
            margin-inline-start: calc(16.5em + env(safe-area-inset-left, 0));
        }

        .rtl:root .skinHeader-withfulldrawer {
            -webkit-margin-start: calc(16.5em + env(safe-area-inset-right, 0));
            margin-inline-start: calc(16.5em + env(safe-area-inset-right, 0));
        }
    }

    .withTabs .viewContent-fixed {
        inset-inline-start: 0 !important;
    }

    .page-withMiniDrawer {
        left: 10ch;
        right: 0;
        inset-inline-start: 10ch;
        inset-inline-end: 0;
    }

    .skinHeader-withminidrawer {
        -webkit-margin-start: 10ch;
        margin-inline-start: 10ch;
    }
}

@supports not (container-type: inline-size) {
    @media not all and (min-width: 28em) {
        .listTotalRecordCount {
            display: none !important;
        }
    }
}

@container itemsviewsettingscontainer not (min-width: 50ch) {

    .listTotalRecordCount {
        display: none !important;
    }
}

.page-withDockedDrawer .auto-center {
    -webkit-margin-start: 0;
    margin-inline-start: 0;
    -webkit-margin-end: 0;
    margin-inline-end: 0;
}

@media not all and (min-width: 126em) {

    .withHeaderTabs.withFullDrawer:root {
        /* this is header paddingTop + header paddingBottom + headerLeft height + .45em (header middle margin) + (header middle height) */
        --header-height: 9.104em;
    }

    /* this @supports shouldn't be necessary because browsers should ignore what they don't support, but that doesn't seem to be the case with tizen or legacy edge
   don't use env as part of the supports check because then tizen falsely considers it supported
*/
    @supports (height: calc(3.125em + 2 * max(3em,4em))) {

        .withHeaderTabs.withFullDrawer:root {
            --header-height: calc(7.904em + max(1.2em, env(safe-area-inset-top, 0)));
        }
    }

    .withheadernowplaying.withHeaderTabs.withFullDrawer:root {
        /* add 4.8em for nowplaying size */
        --header-height: 13.904em;
    }

    @supports (height: calc(3.125em + 2 * max(3em,4em))) {

        .withheadernowplaying.withHeaderTabs.withFullDrawer:root {
            /* add 4.8em for nowplaying size */
            --header-height: calc(12.704em + max(1.2em, env(safe-area-inset-top, 0)));
        }
    }
}

@media not all and (min-width: 120em) {

    .withHeaderTabs:root {
        /* this is header paddingTop + header paddingBottom + headerLeft height + .45em (header middle margin) + (header middle height) */
        --header-height: 9.104em;
    }

    /* this @supports shouldn't be necessary because browsers should ignore what they don't support, but that doesn't seem to be the case with tizen or legacy edge
   don't use env as part of the supports check because then tizen falsely considers it supported
*/
    @supports (height: calc(3.125em + 2 * max(3em,4em))) {

        .withHeaderTabs:root {
            --header-height: calc(7.904em + max(1.2em, env(safe-area-inset-top, 0)));
        }
    }

    .withheadernowplaying.withHeaderTabs:root {
        /* add 4.8em for nowplaying size */
        --header-height: 13.904em;
    }

    @supports (height: calc(3.125em + 2 * max(3em,4em))) {

        .withheadernowplaying.withHeaderTabs:root {
            /* add 4.8em for nowplaying size */
            --header-height: calc(12.704em + max(1.2em, env(safe-area-inset-top, 0)));
        }
    }
}

@media not all and (min-width: 66em) {

    .withHeaderTabs.withFullDrawer:root, .withHeaderTabs:root {
        /* this is header paddingTop + header paddingBottom + headerLeft height + (header middle height) */
        --header-height: 8.027em;
    }

    /* this @supports shouldn't be necessary because browsers should ignore what they don't support, but that doesn't seem to be the case with tizen or legacy edge
   don't use env as part of the supports check because then tizen falsely considers it supported
*/
    @supports (height: calc(3.125em + 2 * max(3em,4em))) {

        .withHeaderTabs.withFullDrawer:root, .withHeaderTabs:root {
            --header-height: calc(6.827em + max(1.2em, env(safe-area-inset-top, 0)));
        }
    }

    .withheadernowplaying.withHeaderTabs.withFullDrawer:root, .withheadernowplaying.withHeaderTabs:root {
        /* add 4.8em for nowplaying size */
        --header-height: 12.827em;
    }

    @supports (height: calc(3.125em + 2 * max(3em,4em))) {

        .withheadernowplaying.withHeaderTabs.withFullDrawer:root, .withheadernowplaying.withHeaderTabs:root {
            /* add 4.8em for nowplaying size */
            --header-height: calc(11.627em + max(1.2em, env(safe-area-inset-top, 0)));
        }
    }
}

@media all and (min-width: 50em) {
    .listIconButton-autohide {
        display: none !important;
    }
}

@media not all and (min-width: 50em) {
    .listTextButton-autohide {
        display: none !important;
    }
}
