.withheadernowplaying:root .skinHeader {
    height: 9.125em;
}

:root .padded-top-page {
    padding-top: 5.925em !important;
}

    :root .padded-top-page.horizontalSections {
        padding-top: 0 !important;
        margin-top: 6.5em;
    }

.withheadernowplaying:root .padded-top-page {
    padding-top: 9.525em !important;
}

    .withheadernowplaying:root .padded-top-page.horizontalSections {
        padding-top: 0 !important;
        margin-top: 8.5em;
    }
