@media not all and (pointer: fine) {
    .nowPlayingBarPositionSlider {
        touch-action: none;
        pointer-events: none;
    }
}

@supports (container-type: inline-size) {
    @container nowplayingbar not (min-width: 50em) {
        .nowPlayingBarCenter-autohide {
            display: none !important;
        }

        .toggleRepeatButton, .toggleShuffleButton {
            display: none;
        }

        .nowPlayingBarInfoContainer {
            max-width: none;
        }
    }

    @container nowplayingbar (min-width: 50em) {
        .playPauseButton-right, .stopButton-right {
            display: none;
        }
    }

    @container nowplayingbar not (min-width: 66em) {
        .nowPlayingBarCurrentTime-autohide {
            display: none !important;
        }
    }

    @container nowplayingbar not (min-width: 80em) {
        .nowPlayingBarVolumeSliderContainer, .nowPlayingBarMuteButton {
            display: none !important;
        }
    }

    @container nowplayingbar not (min-width: 87.5em) {
        .nowPlayingBarFavoriteButton {
            display: none;
        }
    }
}

@supports not (container-type: inline-size) {
    @media not all and (min-width: 50em) {
        .nowPlayingBarCenter-autohide {
            display: none !important;
        }

        .toggleRepeatButton, .toggleShuffleButton {
            display: none;
        }

        .nowPlayingBarInfoContainer {
            max-width: none;
        }
    }

    @media all and (min-width: 50em) {
        .playPauseButton-right, .stopButton-right {
            display: none;
        }
    }

    @media not all and (min-width: 66em) {
        .nowPlayingBarCurrentTime-autohide {
            display: none !important;
        }
    }

    @media not all and (min-width: 80em) {

        .nowPlayingBarVolumeSliderContainer, .nowPlayingBarMuteButton {
            display: none !important;
        }
    }

    @media not all and (min-width: 87.5em) {
        .nowPlayingBarFavoriteButton {
            display: none;
        }
    }
}

.nowPlayingBarDropOverlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    z-index: 2;
    border: .15em dashed currentcolor;
}

.nowPlayingBar-dragging-over .nowPlayingBarTop {
    opacity: 0;
}

.nowPlayingBar-dragging-over .nowPlayingBarDropOverlay {
    display: -webkit-flex;
    display: flex;
}