.nowPlayingBarInfoContainer {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    overflow: hidden;
    max-width: 40%;
}

/* Now playing bar */
.nowPlayingBar {
    /* Above everything, except for the video player and popup overlays */
    text-align: center;
    contain: layout style;
    /* for drop overlay */
    position: relative;
    container-type: inline-size;
    container-name: nowplayingbar;
}

.nowPlayingBar-footer {
    will-change: transform;
}

.nowPlayingBar-footer-transition {
    transition: -webkit-transform 220ms ease-out;
    transition: transform 220ms ease-out;
}

.nowPlayingBar-hidden {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

.nowPlayingBarTop {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    height: 4.6em;
    position: relative;
    -webkit-justify-content: center;
    justify-content: center;
}

.mediaButton {
    vertical-align: middle;
    margin: 0;
    text-align: center;
    font-size: 200% !important;
}

.nowPlayingBarImage {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 71%;
    width: 3.266em;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-margin-start: 1.25em;
    margin-inline-start: 1.25em;
    -webkit-margin-end: .8em;
    margin-inline-end: .8em;
    border-radius: .42em;
    overflow: hidden;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.nowPlayingBarDefaultItemIcon {
    font-size: 200%;
}

@supports (aspect-ratio: 16 / 9) {
    .nowPlayingBarImage {
        width: auto;
    }
}

.nowPlayingBarText {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
    text-align: start;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    font-size: 92%;
    -webkit-margin-end: 2.4em;
    margin-inline-end: 2.4em;
}

.nowPlayingBarCenter {
    vertical-align: middle;
    text-align: center;
    /* Need this to make sure it's on top of nowPlayingBarPositionContainer so that buttons are fully clickable */
    z-index: 2;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: absolute;
}

.nowplayingbar-textitems {
    -webkit-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
}

.nowPlayingBarPositionContainer {
    position: absolute !important;
    top: 0;
    top: calc(-1 * var(--line-size));
    left: 0;
    right: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    z-index: 1;
    height: .21em !important;
}

.nowPlayingBarPositionContainer-background {
    background: transparent !important;
    -webkit-backdrop-filter: none !important;
    backdrop-filter: none !important;
}

.nowPlayingBarRight {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-margin-start: auto;
    margin-inline-start: auto;
    -webkit-margin-end: .5em;
    margin-inline-end: .5em;
    /* Need this to make sure it's on top of nowPlayingBarPositionContainer so that buttons are fully clickable */
    z-index: 2;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}

.nowPlayingBarCurrentTime {
    vertical-align: middle;
    text-align: end;
    display: inline-block;
    /* use fixed width to prevent adjacent content from jumping around */
    width: 6ch;
}

.nowPlayingBarVolumeSliderContainer {
    -webkit-margin-end: 2em;
    margin-inline-end: 2em;
}
