.nowPlayingBarTVText {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    text-decoration: none !important;
}

.nowPlayingBarImage {
    height: 60%;
}

.nowPlayingBar-hidetv {
    display: none !important;
}

.nowPlayingBarInfoContainer {
    max-width: initial;
    width: 20%;
}

.nowPlayingBarCenter {
    position: static;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    height: 100%;
    font-size: 92%;
    width: 20%;
}

.nowPlayingBarPositionContainer {
    top: initial;
    bottom: 0;
    height: .12em !important;
}
