/* don't use calc or var in the supports because legacy edge will falsely say it is supported */
@supports (width: max(10em, 5vw)) {

    .squareCard {
        width: calc(100% / max((var(--square-cards) + var(--user-cards-size-adjust) + var(--app-cards-size-adjust)), 2));
    }

    .squareCard-horiz {
        width: calc(93vw / max((var(--square-cards) + var(--user-cards-size-adjust)), 2));
    }

    .portraitCard {
        width: calc(100% / max((var(--portrait-cards) + var(--user-cards-size-adjust) + var(--app-cards-size-adjust)), 3));
    }

    .portraitCard-horiz {
        width: calc(93vw / max((var(--portrait-cards) + var(--user-cards-size-adjust)), 3));
    }

    .bannerCard {
        width: calc(100% / max((var(--banner-cards) + var(--user-cards-size-adjust) + var(--app-cards-size-adjust)), 1));
    }

    .bannerCard-horiz {
        width: calc(93vw / max((var(--banner-cards) + var(--user-cards-size-adjust)), 1));
    }

    .sideFooterCard {
        width: calc(100% / max((var(--sidefooter-cards) + var(--user-cards-size-adjust) + var(--app-cards-size-adjust)), 1));
    }

    .sideFooterCard-horiz {
        width: calc(93vw / max((var(--sidefooter-cards) + var(--user-cards-size-adjust)), 1));
    }

    .smallSideFooterCard {
        width: calc(100% / max((var(--small-sidefooter-cards) + var(--user-cards-size-adjust) + var(--app-cards-size-adjust)), 1.3));
    }

    .smallSideFooterCard-horiz {
        width: calc(93vw / max((var(--small-sidefooter-cards) + var(--user-cards-size-adjust)), 1.3));
    }

    .fourThreeCard {
        width: calc(100% / max((var(--four-three-cards) + var(--user-cards-size-adjust) + var(--app-cards-size-adjust)), 2));
    }

    .fourThreeCard-horiz {
        width: calc(93vw / max((var(--four-three-cards) + var(--user-cards-size-adjust)), 2));
    }

    .backdropCard {
        width: calc(100% / max((var(--backdrop-cards) + var(--user-cards-size-adjust) + var(--app-cards-size-adjust)), 1));
    }

    .backdropCard-horiz {
        width: calc(93vw / max((var(--backdrop-cards) + var(--user-cards-size-adjust)), 1));
    }
}