.squareCard {
    width: 16.6666667%;
}

.squareCard-horiz {
    width: 15.3333333vw;
}

.portraitCard {
    width: 16.6666667%;
}

.portraitCard-horiz {
    width: 15.3333333vw;
}

.bannerCard {
    width: 33.333333%;
}

.bannerCard-horiz {
    width: 30.66667vw;
}

.sideFooterCard {
    width: 25%;
}

.sideFooterCard-horiz {
    width: 23vw;
}

.fourThreeCard {
    width: 25%;
}

.fourThreeCard-horiz {
    width: 23vw;
}

.backdropCard {
    width: 25%;
}

.backdropCard-horiz {
    width: 23vw;
}