.squareCard {
    width: 16.6666667%;
    width: calc(100% / (var(--square-cards) + var(--app-cards-size-adjust)));
}

.squareCard-horiz {
    width: 15.3333333vw;
    width: calc(93vw / var(--square-cards));
}

.portraitCard {
    width: 16.6666667%;
    width: calc(100% / (var(--portrait-cards) + var(--app-cards-size-adjust)));
}

.portraitCard-horiz {
    width: 15.3333333vw;
    width: calc(93vw / var(--portrait-cards));
}

.bannerCard {
    width: 33.333333%;
    width: calc(100% / (var(--banner-cards) + var(--app-cards-size-adjust)));
}

.bannerCard-horiz {
    width: 30.66667vw;
    width: calc(93vw / var(--banner-cards));
}

.sideFooterCard {
    width: 25%;
    width: calc(100% / (var(--sidefooter-cards) + var(--app-cards-size-adjust)));
}

.sideFooterCard-horiz {
    width: 23vw;
    width: calc(93vw / var(--sidefooter-cards));
}

.smallSideFooterCard {
    width: 16.6666667%;
    width: calc(100% / (var(--small-sidefooter-cards) + var(--app-cards-size-adjust)));
}

.smallSideFooterCard-horiz {
    width: 15.3333333vw;
    width: calc(93vw / (var(--small-sidefooter-cards)));
}

.fourThreeCard {
    width: 25%;
    width: calc(100% / (var(--four-three-cards) + var(--app-cards-size-adjust)));
}

.fourThreeCard-horiz {
    width: 23vw;
    width: calc(93vw / var(--four-three-cards));
}

.backdropCard {
    width: 25%;
    width: calc(100% / (var(--backdrop-cards) + var(--app-cards-size-adjust)));
}

.backdropCard-horiz {
    width: 23vw;
    width: calc(93vw / var(--backdrop-cards));
}