@media not all and (pointer: fine) {
    .cardBox-touchzoom {
        transition: -webkit-transform 600ms ease-out;
        transition: transform 600ms ease-out;
        transition-delay: 100ms;
    }

    .card-autoactive:active, .itemElement-activetouch {
        z-index: 10;
        contain: layout style;
    }

        .card-autoactive:active > .cardBox-touchzoom, .itemElement-activetouch > .cardBox-touchzoom {
            -webkit-transform: scale(1.08);
            transform: scale(1.08);
        }
}

@media all and (min-width: 60em) and (max-width: 99em) {
    .withFullDrawer {
        --app-cards-size-adjust: -1;
    }
}

@media all and (orientation: landscape) {

    :root {
        --backdrop-cards: 2;
    }
}

@media all and (orientation: portrait) and (min-width: 24em) {

    :root {
        --backdrop-cards: 2;
    }
}

@media all and (orientation: portrait) and (min-width: 31.25em) {

    :root {
        --square-cards: 3;
    }
}

@media all and (min-width: 31.25em) {

    :root {
        --four-three-cards: 3;
    }
}

@media all and (min-width: 36em) {
    :root {
        --square-cards: 3;
        --portrait-cards: 4;
    }
}

@media all and (min-width: 40em) {
    :root {
        --square-cards: 4;
        --small-sidefooter-cards: 2;
    }
}

@media all and (orientation: landscape) and (min-width: 40em) {

    :root {
        --portrait-cards: 5;
    }
}

@media all and (orientation: landscape) and (min-width: 50em) {

    :root {
        --square-cards: 5;
    }
}

@media all and (min-width: 45em) {
    :root {
        --four-three-cards: 4;
        --sidefooter-cards: 2;
    }
}

@media all and (min-width: 50em) {
    :root {
        --small-sidefooter-cards: 3;
    }
}

@media (min-width: 50em) {

    :root {
        --backdrop-cards: 3;
    }
}

@media all and (min-width: 55em) {
    :root {
        --banner-cards: 2;
        --square-cards: 5;
        --portrait-cards: 5;
    }
}

@media (min-width: 62.5em) {

    :root {
        --backdrop-cards: 4;
    }
}

@media all and (min-width: 66em) {
    :root {
        --small-sidefooter-cards: 4;
    }
}

@media all and (min-width: 70em) {
    :root {
        --four-three-cards: 5;
        --square-cards: 6;
        --portrait-cards: 6;
    }
}

@media all and (min-width: 76em) {
    :root {
        --sidefooter-cards: 3;
    }
}

@media all and (min-width: 82.5em) {
    :root {
        --backdrop-cards: 5;
    }
}

@media all and (min-width: 85em) {
    :root {
        --square-cards: 7;
        --portrait-cards: 7;
    }
}

@media all and (min-width: 100em) {
    :root {
        --banner-cards: 3;
        --small-sidefooter-cards: 5;
        --four-three-cards: 6;
        --square-cards: 8;
        --portrait-cards: 8;
    }
}

@media all and (min-width: 115em) {
    :root {
        --small-sidefooter-cards: 6;
        --portrait-cards: 9;
        --square-cards: 9;
    }
}

@media all and (min-width: 120em) {
    :root {
        --small-sidefooter-cards: 6;
    }
}

@media all and (min-width: 130em) {
    :root {
        --square-cards: 10;
        --portrait-cards: 10;
    }
}

@media all and (min-width: 131.25em) {
    :root {
        --backdrop-cards: 6;
        --four-three-cards: 7;
        --sidefooter-cards: 4;
    }
}

@media all and (min-width: 145em) {
    :root {
        --square-cards: 11;
        --portrait-cards: 11;
    }
}

@media all and (min-width: 150em) {
    :root {
        --banner-cards: 4;
    }
}

@media all and (min-width: 160em) {
    :root {
        --backdrop-cards: 7;
        --small-sidefooter-cards: 7;
        --four-three-cards: 8;
        --square-cards: 12;
        --portrait-cards: 12;
    }
}

@media all and (min-width: 175em) {
    :root {
        --square-cards: 13;
        --portrait-cards: 13;
    }
}

@media all and (min-width: 180em) {
    :root {
        --small-sidefooter-cards: 8;
        --four-three-cards: 9;
    }
}

@media all and (min-width: 190em) {
    :root {
        --square-cards: 14;
        --portrait-cards: 14;
    }
}

@media all and (min-width: 200em) {
    :root {
        --banner-cards: 5;
        --sidefooter-cards: 5;
        --backdrop-cards: 8;
        --small-sidefooter-cards: 9;
        --four-three-cards: 10;
    }
}

@media all and (min-width: 205em) {
    :root {
        --square-cards: 15;
        --portrait-cards: 15;
    }
}

@media all and (min-width: 220em) {
    :root {
        --sidefooter-cards: 6;
        --backdrop-cards: 9;
        --small-sidefooter-cards: 10;
        --four-three-cards: 11;
        --square-cards: 16;
        --portrait-cards: 16;
    }
}

@media all and (min-width: 240em) {
    :root {
        --banner-cards: 6;
        --sidefooter-cards: 7;
        --small-sidefooter-cards: 11;
        --four-three-cards: 12;
        --square-cards: 17;
        --portrait-cards: 17;
    }
}