.squareCard-xGrid {
    width: calc((((55vh / (3 + var(--app-cards-size-adjust) + var(--user-cards-size-adjust))) - .6em) / (1 / 1)) + .6em);
}

.portraitCard-xGrid {
    width: calc((((55vh / (2 + var(--app-cards-size-adjust) + var(--user-cards-size-adjust))) - .6em) / (3 / 2)) + .6em);
}

.fourThreeCard-xGrid {
    width: calc((((55vh / (3 + var(--app-cards-size-adjust) + var(--user-cards-size-adjust))) - .6em) / (3 / 4)) + .6em);
}

.backdropCard-xGrid {
    width: calc((((55vh / (3 + var(--app-cards-size-adjust) + var(--user-cards-size-adjust))) - .6em) / (9 / 16)) + .6em);
}

.wideSpotlightCard {
    width: calc((((55vh * 2 / 3) - .6em) / (9 / 16)) + .6em);
}

.spotlightButtonCardContent-horizontal {
    height: calc((55vh / 3) - .6em);
    aspect-ratio: initial !important;
    padding-bottom: 0 !important;
}