@media (pointer: fine) {
    :root {
        --theme-text-color-alpha: .87;
        --dialog-border-width: var(--line-size);
    }
}

@media all and (pointer: fine) {
    .raised:hover, .fab:hover {
        background: hsla(var(--button-background-hue), var(--button-background-saturation), calc(var(--button-background-lightness) - 10%), var(--button-background-alpha));
    }

    .button-hoveraccent:hover {
        background: var(--theme-accent-text-color);
    }
}

@media not all and (pointer: fine) {
    .raised:active, .fab:active {
        background: hsla(var(--button-background-hue), var(--button-background-saturation), calc(var(--button-background-lightness) - 10%), var(--button-background-alpha));
    }
}