.emby-toggle-label {
    /* for focusing. without this the toggle jumps around */
    box-sizing: content-box;
    padding-top: .25em;
    padding-bottom: .25em;
}

.emby-toggle-label.emby-toggle-label-focus {
    border-radius: .6em;
    -webkit-padding-start: .5em;
    padding-inline-start: .5em;
    -webkit-padding-end: .5em;
    padding-inline-end: .5em;
    -webkit-margin-start: -.5em;
    margin-inline-start: -.5em;
    -webkit-margin-end: -.5em;
    margin-inline-end: -.5em;
}