.dialogCloseButton {
    margin-top: 0;
    margin-bottom: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}

.dialogCloseButton-positionstart {
    position: absolute;
    left: 1em;
    inset-inline-start: 1em;
    inset-inline-end: initial;
}