@media not all and (pointer: fine) {

    .dialogCloseButton {
        font-size: 118%;
        font-weight: 600;
        background: transparent;
    }

    .dialogCloseButton-autoright {
        -webkit-order: 1000;
        order: 1000;
        -webkit-margin-start: auto !important;
        margin-inline-start: auto !important;
    }

    .dialogCloseButton-positionstart.dialogCloseButton-autoright {
        -webkit-margin-start: 0 !important;
        margin-inline-start: 0 !important;
        left: initial;
        right: 1em;
        inset-inline-start: initial;
        inset-inline-end: 1em;
    }

    .dialogCloseButton:active {
        background-color: transparent;
        opacity: .5;
    }
}
