.darkContentContainer {
    --background-hue: 285;
    --background-saturation: 10%;
    --background-lightness: 7.84%;
    --focus-background-hue: 0;
    --focus-background-saturation: 0%;
    --focus-background-lightness: 100%;
    --focus-blur-background-lightness: 100%;
    --focus-text-color-lightness: 0%;
    --theme-text-color-hue: 0;
    --theme-text-color-saturation: 0%;
    --theme-text-color-lightness: 100%;
    --theme-text-color-alpha: 1;
    --theme-accent-text-color: var(--theme-accent-text-color-darkbg);
    --theme-accent-text-color-alt: var(--theme-accent-text-color-darkbg-alt);
    --line-background: hsla(var(--theme-text-color-hue), var(--theme-text-color-saturation), var(--theme-text-color-lightness), .14);
    color: hsla(var(--theme-text-color-hue), var(--theme-text-color-saturation), var(--theme-text-color-lightness), var(--theme-text-color-alpha));
    --button-background-hue: 285;
    --button-background-saturation: 4.2%;
    --button-background-lightness: 40%;
    --button-background-alpha: .6;
    --button-background-blur-lightness: calc(var(--button-background-lightness) + 37%);
    --button-background-blur-alpha: .3;
    --button-blur-backdrop-filter: blur(4em) saturate(1.8);
    --card-background-hue: 0;
    --card-background-saturation: 0%;
    --card-background-lightness: 17.25%;
    --card-background-alpha: .7;
    --input-background-hue: 285;
    --input-background-saturation: 4.2%;
    --input-background-lightness: 40%;
    /* for slider bubbles */
    --docked-drawer-background: hsla(var(--background-hue), var(--background-saturation), calc(var(--background-lightness) + 18%), .2);
}

.graphicContentContainer {
    --button-background-hue: 0;
    --button-background-saturation: 0%;
    --button-background-lightness: 15%;
    --button-background-alpha: .6;
    --input-background-hue: 0;
    --input-background-saturation: 0%;
    --input-background-lightness: 15%;
}