.mainDrawer {
    width: 22%;
    -webkit-padding-start: 1.5ch !important;
    padding-inline-start: 1.5ch !important;
    -webkit-padding-end: 1.5ch;
    padding-inline-end: 1.5ch;
    top: 3vh;
    bottom: 3vh;
    left: calc(3.5vh + env(safe-area-inset-left, 0));
    inset-inline-start: calc(3.5vh + env(safe-area-inset-left, 0));
    inset-inline-end: initial;
    box-shadow: inset 0 0 0 0.07em rgba(0, 0, 0, .2), 0 0.56em 2.8em rgba(0, 0, 0, .55);
    border-radius: 1em;
}

.drawer-backdrop {
    background-color: transparent;
}

.navDrawerLogo {
    -webkit-margin-start: .5em !important;
    margin-inline-start: .5em !important;
}

.navDrawerHeader {
    margin-top: .5em;
}

.navMenuHeader {
    margin: .75em 0 .15em;
}

.navMenuHeader-settings {
    margin-top: 1.5em;
    margin-bottom: .2em;
    -webkit-padding-start: 0 !important;
    padding-inline-start: 0 !important;
}

.navDrawerListItemImageContainer {
    border-radius: 100em;
    background-color: transparent !important;
}

.navDrawerListItemBody {
    min-height: initial;
    padding: .19em .5em !important;
}

.navDrawerListItemIcon {
    font-size: 120%;
}

.navMenuOption.emby-button-focusscale:focus {
    -webkit-transform: scale(1.025);
    transform: scale(1.025);
}