@media all and (pointer: fine) {

    /* allow a larger flyout on touch devices */
    .mainDrawer {
        width: 16.5em;
        width: calc(16.5em + env(safe-area-inset-left, 0));
    }

    .mainDrawer-rtl {
        width: calc(16.5em + env(safe-area-inset-right, 0));
    }
}

@media not all and (pointer: fine) {

    /* allow a larger flyout on touch devices */
    .mainDrawer:not(.drawer-docked) {
        width: min(80%, 35.5ch);
    }
}

.btnPinNavDrawer {
    font-size: 80% !important;
    margin: 0 -.35em 0 0 !important;
}

.btnPinNavDrawer-iconpin {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

@media all and (pointer: fine) {
    .btnPinNavDrawer-hovershow {
        visibility: hidden;
    }

    .navDrawerHeader:hover .btnPinNavDrawer {
        visibility: visible;
    }

    .mainDrawer:focus-within .btnPinNavDrawer {
        visibility: visible;
    }
}

.navMenuHeader-first {
    margin-top: .25em !important;
}

@media not all and (min-width: 50em) {
    .drawer-search {
        /* hide because it will be in the bottom tabs */
        display: none !important;
    }
}

.navDrawerSearchFieldContainer {
    margin: .5em 0;
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

@media all and (pointer: fine) {
    .mainDrawer .navDrawerListItemBody {
        /* decrease slightly from listview default */
        min-height: 1.96em;
    }
}

@media all and (pointer: fine) {
    .navDrawerListItemBody {
        -webkit-padding-start: .25em !important;
        padding-inline-start: .25em !important;
    }
}

.settingsMenuListItemBody-extrapadding {
    padding: .34em .65em !important;
}

.mainDrawer:not(.drawer-docked) .navDrawerItemsSection {
    display: none !important;
}

@media all and (min-width: 60em) {

    .mainDrawer-mini {
        /* these need to be always applied so that things aren't jumping around with the hover flyout */
        -webkit-padding-start: 1.2ch;
        padding-inline-start: 1.2ch;
        -webkit-padding-end: 1.2ch;
        padding-inline-end: 1.2ch;
        padding-top: 5em;
        -webkit-border-end: 0 !important;
        border-inline-end: 0 !important;
        --theme-text-color-alpha: .85 !important;
        width: 10ch;
    }

        .mainDrawer-mini.darkContentContainer {
            --theme-text-color-alpha: .85;
        }

        .mainDrawer-mini .navDrawerHeader {
            /* these need to be always applied so that things aren't jumping around with the hover flyout */
            margin: 0 !important;
            padding: 0.75em 0;
            height: 4em;
            box-sizing: border-box;
        }

        .mainDrawer-mini .navDrawerListItemBody {
            /* these need to be always applied so that things aren't jumping around with the hover flyout */
            padding: 0 !important;
            visibility: hidden;
        }

        .mainDrawer-mini .navMenuHeader,
        .mainDrawer-mini .navDrawerCollapseButton,
        .mainDrawer-mini .navDrawerItemsSection {
            display: none !important;
        }

        .mainDrawer-mini .navDrawerHeader,
        .mainDrawer-mini .navDrawerListItemBody,
        .mainDrawer-mini .navDrawerItemsSection {
            display: none !important;
        }

        .mainDrawer-mini .navDrawerListItemImageContainer {
            width: 5ch !important;
            height: 2.8em !important;
        }

        .mainDrawer-mini .navDrawerListItemImageContainer-padded {
            box-sizing: border-box;
            padding: 0 .8em;
        }

            .mainDrawer-mini .navDrawerListItemImageContainer-padded .listItemImage {
                border-radius: 100em;
            }

        .mainDrawer-mini .listItem {
            box-sizing: border-box;
            /* technically only needed in flyout mode */
            width: 100%;
        }

        .mainDrawer-mini .listItem-content {
            padding: 0 .42em !important;
            box-sizing: border-box;
            min-width: 100%;
            width: auto;
        }

        .mainDrawer-mini .listItemBody {
            -webkit-flex-grow: 0;
            flex-grow: 0;
        }

    .listItem[data-id="btnExpandMiniDrawer"] {
        margin-top: -3.5em !important;
    }

    .mainDrawer:not(.mainDrawer-mini) .listItem[data-id="btnExpandMiniDrawer"] {
        display: none !important;
    }
}

.navDrawerListItemIcon-drawer {
    padding: 0;
}

@media all and (pointer: fine) {
    .navDrawerListItemIcon {
        font-size: 140%;
    }
}

@media not all and (min-width: 60em) {
    .btnPinNavDrawer {
        display: none !important;
    }

    .listItem[data-id="btnExpandMiniDrawer"] {
        display: none !important;
    }
}

@media not all and (pointer: fine) {
    .navDrawerItemsContainer-shaded {
        padding: .25em;
        -webkit-padding-end: 1em;
        padding-inline-end: 1em;
    }
}

.navDrawerSearchFieldContainer-label {
    display: none !important;
}

.navDrawerSearchIcon {
    position: absolute;
    font-size: 160%;
    left: .35em;
    right: 0;
    inset-inline-start: .25em;
    inset-inline-end: 0;
    width: 1.25em;
}

.txtNavDrawerSearch {
    border-radius: .6em !important;
    -webkit-padding-start: 2.25em !important;
    padding-inline-start: 2.25em !important;
}

@media all and (pointer: fine) {

    .drawer-docked:not(.mainDrawer-mini) .drawer-search {
        display: none !important;
    }

    .mainDrawer-mini .navDrawerSearchForm, .mainDrawer:not(.drawer-docked) .navDrawerSearchForm {
        display: none !important;
    }

    @media all and (min-width: 60em) {

        .drawer-docked:not(.mainDrawer-mini) ~ .page .searchFields {
            margin-bottom: 0 !important;
            padding-bottom: 0 !important;
        }

        .drawer-docked:not(.mainDrawer-mini) ~ .page .searchInputContainer {
            display: none !important;
        }
    }
}