.mainDrawer {
    padding-top: calc(1em + env(safe-area-inset-top, 0));
    -webkit-padding-start: 1em;
    padding-inline-start: 1em;
    -webkit-padding-start: calc(1em + env(safe-area-inset-left, 0));
    padding-inline-start: calc(1em + env(safe-area-inset-left, 0));
    -webkit-padding-end: 1em;
    padding-inline-end: 1em;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    overscroll-behavior-y: contain;
    position: fixed;
    top: 0;
    left: 0;
    inset-inline-start: 0;
    inset-inline-end: initial;
    bottom: 0;
    contain: strict;
    z-index: 1099;
    width: 33.15ch;
    width: clamp(33.15ch, 30%, 45.5ch);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    box-sizing: border-box;
    will-change: transform, width;
    scrollbar-gutter: stable;
    transition: width 340ms ease-out, -webkit-transform 340ms ease-out;
    transition: width 340ms ease-out, transform 340ms ease-out;
}

.mainDrawer-rtl {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-padding-start: calc(1em + env(safe-area-inset-right, 0));
    padding-inline-start: calc(1em + env(safe-area-inset-right, 0));
}

.mainDrawer.scrollY {
    overflow-y: overlay; /* stylelint-disable-line declaration-property-value-keyword-no-deprecated,declaration-property-value-no-unknown */
}

.drawer-open {
    box-shadow: .14em 0 .84em rgba(0, 0, 0, 0.1);
    -webkit-transform: none;
    transform: none;
}

.drawer-opening {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

    .drawer-opening.mainDrawer-rtl {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

.drawer-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    background-color: #000;
    opacity: 0;
    z-index: 1098;
    will-change: opacity;
    contain: strict;
    -webkit-animation: drawer-backdrop-fadein 0.38s ease-out normal both;
    animation: drawer-backdrop-fadein 0.38s ease-out normal both;
    overflow: hidden;
    overscroll-behavior: contain;
}

.drawer-backdrop-fadeout {
    -webkit-animation: drawer-backdrop-fadeout 0.38s ease-out normal both;
    animation: drawer-backdrop-fadeout 0.38s ease-out normal both;
}

@-webkit-keyframes drawer-backdrop-fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: .3;
    }
}

@keyframes drawer-backdrop-fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: .3;
    }
}

@-webkit-keyframes drawer-backdrop-fadeout {
    from {
        opacity: .3;
    }

    to {
        opacity: 0;
    }
}

@keyframes drawer-backdrop-fadeout {
    from {
        opacity: .3;
    }

    to {
        opacity: 0;
    }
}

.navDrawerCollapseSection {
    margin: 0 0 .25em !important;
}

.navDrawerCollapseButton {
    margin: .75em 0 0 !important;
    border: 0 !important;
    padding: .25em 0 !important;
}

    .navDrawerCollapseButton.emby-collapsible-button-collapsed::after {
        display: none;
    }

.navDrawerCollapseContent {
    border: 0 !important;
    /* for list item hover, focus styles */
    padding: 0 1em !important;
    margin: 0 -1em !important;
    -webkit-user-select: none;
    user-select: none;
}

.navMenuOption {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
    vertical-align: middle;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    font-weight: 500 !important;
    margin: 0 !important;
    -webkit-user-select: none;
    user-select: none;
}

.navMenuOption-listItem-content {
    -webkit-padding-start: .6em !important;
    padding-inline-start: .6em !important;
}

.navMenuOption-listItem-content-reduceleftpadding {
    -webkit-padding-start: .25em !important;
    padding-inline-start: .25em !important;
}

.navMenuOption .listItem-border-offset::after {
    left: 1.9em;
    right: 0;
    inset-inline-start: .75em;
    inset-inline-end: .25em;
    /* the left padding of listItemBody + the left padding of listItem-content */
    -webkit-margin-start: 0;
    margin-inline-start: 0;
}

.navMenuOption-selected .listItem-content::before {
    position: absolute;
    content: " ";
    top: 0;
    /* override listview */
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: .6em;
}

.navMenuOption:hover .listItem-content::before {
    /* override listview */
    left: 0;
    right: 0;
}

.navDrawerLogo {
    width: 100%;
    background-size: contain;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    -webkit-margin-start: .2em !important;
    margin-inline-start: .2em !important;
    -webkit-margin-end: 0 !important;
    margin-inline-end: 0 !important;
    -webkit-flex-grow: 0;
    flex-grow: 0;
}

.navDrawerHeader {
    margin: .75em 0;
    position: relative;
}

.btnNavDrawerLogo {
    margin: 0 !important;
    padding: 0 !important;
}

.navMenuOptionIcon {
    -webkit-margin-end: .7em;
    margin-inline-end: .7em;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    font-size: 1.7em;
}

.navMenuOptionText {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.navMenuHeader {
    /* important handles the collapse header */
    margin: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-padding-start: .2em !important;
    padding-inline-start: .2em !important;
}

    .navMenuHeader:not(.navMenuHeader-settings) {
        font-size: 1em;
    }

.navMenuHeader-settings {
    margin: 2em 0 .4em;
    -webkit-padding-start: .3em !important;
    padding-inline-start: .3em !important;
    -webkit-align-items: baseline;
    align-items: baseline;
}

.navDrawerCollapseIcon {
    inset-inline-end: 0 !important;
}

.navDrawerListItemImageContainer {
    width: 1.8em !important;
    height: 1.8em !important;
}

.navDrawerListItemImageContainer-transparent {
    background-color: transparent !important;
}

.navDrawerListItemBody {
    padding: .19em .5em !important;
}

.settingsMenuListItemBody {
    /* decrease slightly from listview default */
    min-height: 2.1em;
}

.navDrawerItemsContainer {
    container-name: initial !important;
    container-type: initial !important;
}

.navDrawerItemsContainer-shaded {
    border-radius: .6em;
    padding: .25em .75em;
}

.navMenuOption-settings-hidelastborder:last-child .listItem-border::after {
    background: none;
}