/* scrollbars */
@media (pointer: fine) {
    .scrollX::-webkit-scrollbar {
        height: 1em;
    }

    .scrollY::-webkit-scrollbar {
        width: 1em;
    }

    .scrollX-mini::-webkit-scrollbar {
        height: .6em;
    }

    .scrollY-mini::-webkit-scrollbar {
        width: .6em;
    }

    .scrollX-mini {
        scrollbar-width: thin;
    }

    .scrollY-mini {
        scrollbar-width: thin;
    }
}