@media (pointer: fine) {
    .button-link:not([disabled]):hover {
        text-decoration: underline;
    }

    .button-link:not([disabled]):active {
        text-decoration: underline;
    }
}

@media not all and (pointer: fine) {

    .raised {
        padding-top: .9em;
        padding-bottom: .9em;
    }

    .raised-mini {
        padding-top: .6em;
        padding-bottom: .6em;
    }

    .fab {
        padding: .9em;
    }

    .fab-mini {
        padding: .6em;
    }

    .button-link:not([disabled]):active {
        opacity: .7;
    }
}