.button-link.emby-button:focus::before {
    position: absolute;
    top: 0;
    left: -.35em;
    right: -.35em;
    bottom: 0;
    content: " ";
    z-index: -1;
    border-radius: .6em;
    box-shadow: 0 .25em 0.4375em rgba(0,0,0,.25);
    contain: strict;
}

.emby-button-focusscale {
    transition: -webkit-transform 200ms ease-out !important;
    transition: transform 200ms ease-out !important;
    -webkit-transform-origin: center center;
    transform-origin: center center;
}

    .emby-button-focusscale:focus {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        z-index: 1;
    }

    .emby-button-focusscale.block:focus {
        -webkit-transform: scale(1.025);
        transform: scale(1.025);
    }

.icon-button-focusscale {
    transition: -webkit-transform 200ms ease-out !important;
    transition: transform 200ms ease-out !important;
    -webkit-transform-origin: center center;
    transform-origin: center center;
}

    .icon-button-focusscale:focus {
        -webkit-transform: scale(1.14);
        transform: scale(1.14);
        z-index: 1;
    }