.emby-radio-label {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    -webkit-margin-start: 0.3em;
    margin-inline-start: 0.3em;
    -webkit-padding-start: 2.05em;
    padding-inline-start: 2.05em;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

.radioButtonLabel {
    -webkit-user-select: none;
    user-select: none;
    font-weight: 500;
    padding-bottom: 1px;
}

.radioFieldDescription {
    margin-top: -1em;
    margin-bottom: 1.2em;
    display: block;
    -webkit-padding-start: 2.4em;
    padding-inline-start: 2.4em;
}

.radioContainer {
    margin-bottom: 1.5em;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
}

.emby-radio {
    line-height: 24px;
    position: absolute;
    /* 1px is for focusing purposes, so the focusManager doesn't skip over it */
    width: 1px;
    height: 1px;
    margin: 0;
    padding: 0;
    opacity: 0;
    -webkit-appearance: none;
    appearance: none;
    border: none;
}

.emby-radio-focusoutline {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    width: 1.2em;
    height: 1.2em;
    margin: auto 0;
    border-radius: 50%;
    -webkit-transform: scale(2.2);
    transform: scale(2.2);
}

.emby-radio:focus-visible ~ .emby-radio-focusoutline {
    display: block;
}

.emby-radio-outer-circle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: inline-block;
    box-sizing: border-box;
    width: 1.2em;
    height: 1.2em;
    margin: auto 0;
    cursor: pointer;
    border: 0.15em solid currentcolor;
    border-radius: 50%;
    opacity: 0.7;
}

.emby-radio:checked + .emby-radio-label + .emby-radio-outer-circle {
    opacity: 1;
}

.emby-radio:disabled + .emby-radio-label + .emby-radio-outer-circle {
    opacity: 0.4;
    cursor: auto;
}

.emby-radio-inner-circle {
    position: absolute;
    margin: auto 0;
    top: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;
    transition-duration: 0.28s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
    border-radius: 50%;
    border: solid 0.26em transparent;
    -webkit-clip-path: padding-box;
    clip-path: padding-box;
}

.emby-radio:checked ~ .emby-radio-inner-circle {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.emby-radio:disabled ~ .emby-radio-outer-circle,
.emby-radio:disabled ~ .emby-radio-innter-circle {
    opacity: 0.4;
    cursor: auto;
}

.emby-radio:disabled + .radioButtonLabel {
    opacity: 0.7;
    cursor: auto;
}
