@media all and (orientation: portrait) {

    .formDialogFooter {
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .formDialogFooterItem {
        -webkit-flex-grow: 1;
        flex-grow: 1;
        width: 100%;
        -webkit-justify-content: center;
        justify-content: center;
        padding-top: .8em;
        padding-bottom: .8em;
    }
}