.semiTransparent, .appHeader-withfocuspreview {
    text-shadow: .14em .14em .28em rgba(0, 0, 0, .45);
}

.headerNowPlaying {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 0 2ch;
    padding-top: env(safe-area-inset-top, 0);
    height: 4em;
    box-sizing: border-box;
    margin-bottom: .8em;
}

/* this @supports shouldn't be necessary because browsers should ignore what they don't support, but that doesn't seem to be the case with tizen or legacy edge
   don't use env as part of the supports check because then tizen falsely considers it supported
*/
@supports (height: calc(3.125em + 2 * max(3em,4em))) {

    .headerNowPlaying {
        height: calc(4em + env(safe-area-inset-top, 0));
    }
}

.headerTop-withSectionTabs-hideTitle .pageTitle:not(.pageTitleWithDefaultLogo) {
    display: none !important;
}

.headerTop-withSectionTabs .headerHelpButton {
    display: none !important;
}

.headerTop-withSectionTabs .headerLeft {
    -webkit-flex-grow: 0;
    flex-grow: 0;
}

.tabs-viewmenubar {
    max-width: 90%;
    font-size: inherit;
    -webkit-padding-start: .25em;
    padding-inline-start: .25em;
    -webkit-padding-end: .25em;
    padding-inline-end: .25em;
}
