@media all and (orientation: portrait) {

    .pageTitle:not(.pageTitleWithLogo) {
        font-size: 1.17em;
    }
}

@media all and (min-width: 60em) {

    .headerHomeButton-withdockeddrawer, .headerMenuButton-withdockeddrawer {
        display: none !important;
    }

    .skinHeader-withfulldrawer .pageTitleWithDefaultLogo {
        display: none;
    }

    .headerLeft-withdockeddrawer {
        -webkit-padding-start: 3rem;
        padding-inline-start: 3rem;
    }
}

@supports (container-type: inline-size) {
    @container appheader not (min-width: 120em) {
        .headerTop-withSectionTabs {
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
        }

            .headerTop-withSectionTabs .headerLeft {
                width: 70%;
                max-width: initial;
            }

            .headerTop-withSectionTabs .headerRight {
                max-width: initial;
            }

        .headerMiddle-withSectionTabs {
            -webkit-flex-grow: initial !important;
            flex-grow: initial !important;
            -webkit-flex-basis: 100%;
            flex-basis: 100%;
            -webkit-order: 3;
            order: 3;
            margin-top: .45em;
            width: initial;
        }
    }
}

@supports not (container-type: inline-size) {
    @media not all and (min-width: 120em) {
        .headerTop-withSectionTabs {
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
        }

            .headerTop-withSectionTabs .headerLeft {
                width: 70%;
                max-width: initial;
            }

            .headerTop-withSectionTabs .headerRight {
                max-width: initial;
            }

        .headerMiddle-withSectionTabs {
            -webkit-flex-grow: initial !important;
            flex-grow: initial !important;
            -webkit-flex-basis: 100%;
            flex-basis: 100%;
            -webkit-order: 3;
            order: 3;
            margin-top: .45em;
            width: initial;
        }
    }
}

@media not all and (min-width: 66em) {
    .headerMiddle-withSectionTabs {
        margin-top: 0;
        height: 2.5em;
    }
}

@media (pointer: fine) {
    .adjustHeaderForEmbeddedScroll {
        /* .99em would be enough for chrome */
        right: 1.08em;
        inset-inline-start: 0;
        inset-inline-end: 1.08em;
    }
}

@media all and (min-width: 66em) {

    .tabs-viewmenubar {
        -webkit-padding-start: 3rem;
        padding-inline-start: 3rem;
        -webkit-padding-end: 3rem;
        padding-inline-end: 3rem;
    }
}

@media not all and (min-width: 50em) {

    .headerSettingsButton {
        display: none !important;
    }
}

@supports (container-type: inline-size) {
    @container appheader not (min-width: 66em) {
        .tabs-viewmenubar-backgroundcontainer {
            background: none !important;
            -webkit-backdrop-filter: none !important;
            backdrop-filter: none !important;
        }
    }

    @container appheader (min-width: 66em) {
        .tabs-viewmenubar {
            font-size: 112%;
            -webkit-padding-start: .25em;
            padding-inline-start: .25em;
            -webkit-padding-end: .25em;
            padding-inline-end: .25em;
        }
    }
}

@supports not (container-type: inline-size) {
    @media not all and (min-width: 66em) {

        .tabs-viewmenubar-backgroundcontainer {
            background: none !important;
            -webkit-backdrop-filter: none !important;
            backdrop-filter: none !important;
        }
    }

    @media all and (min-width: 66em) {

        .tabs-viewmenubar {
            font-size: 112%;
            -webkit-padding-start: .25em;
            padding-inline-start: .25em;
            -webkit-padding-end: .25em;
            padding-inline-end: .25em;
        }
    }
}

@supports (container-type: inline-size) {
    @container appheader (min-width: 120em) {
        .tabs-viewmenubar {
            font-size: 116%;
            max-width: 90%;
        }

        .headerTop-withSectionTabs .headerLeft {
            -webkit-flex-grow: 0;
            flex-grow: 0;
        }
    }
}

@supports not (container-type: inline-size) {
    @media all and (min-width: 120em) {
        .tabs-viewmenubar {
            font-size: 116%;
            max-width: 90%;
        }

        .headerTop-withSectionTabs .headerLeft {
            -webkit-flex-grow: 0;
            flex-grow: 0;
        }
    }
}

@media not all and (min-width: 37.5em) {

    .headerLeft {
        max-width: calc(100% - 20ch);
    }

    .headerRight {
        max-width: 20ch;
    }

    .headerSelectedPlayer {
        display: none;
    }
}